@model AspMVCDemo.ViewModels.DriverViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Driver</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="driver.ID" />
        <div class="form-group">
            <label asp-for="driver.PESEL" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="driver.PESEL" class="form-control" />
                <span asp-validation-for="driver.PESEL" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="driver.firstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="driver.firstName" class="form-control" />
                <span asp-validation-for="driver.firstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="driver.lastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="driver.lastName" class="form-control" />
                <span asp-validation-for="driver.lastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="driver.salary" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="driver.salary" class="form-control" />
                <span asp-validation-for="driver.salary" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="driver.salaryBonus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="driver.salaryBonus" class="form-control" />
                <span asp-validation-for="driver.salaryBonus" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="driver.available" />
                    <label asp-for="driver.available"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="addressId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @*Generating addresses dropdown list *@
                <select asp-for="addressId" class="form-control">
                    @*Generating addresses dropdown list *@
                    @foreach (var item in ViewBag.Addresses)
                    {
                        @if (item.ID == Model.addressId)
                        {
                          <option value="@item.ID" selected> @item </option>
                        }
                        else
                        {
                            <option value="@item.ID"> @item </option>
                        }

                    }

                </select>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
