@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <a class="btn btn-lg" href="Drivers">Drivers</a>
        </div>
        <div class="col-md-10">
            <a class="btn btn-lg" href="Vehicles">Vehicles</a>
        </div>
        <div class="col-md-10">
            <a class="btn btn-lg" href="Addreses">Addresses</a>
        </div>

    </div>

</div>
    
