@model AspMVCDemo.Models.Vehicle

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Vehicle</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="VIN" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VIN" class="form-control" />
                <span asp-validation-for="VIN" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="available" />
                    <label asp-for="available"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="brand" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="brand" class="form-control" />
                <span asp-validation-for="brand" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="engine" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="engine" class="form-control" />
                <span asp-validation-for="engine" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="horsepower" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="horsepower" class="form-control" />
                <span asp-validation-for="horsepower" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="mileage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="mileage" class="form-control" />
                <span asp-validation-for="mileage" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="model" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="model" class="form-control" />
                <span asp-validation-for="model" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="productionDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="productionDate" class="form-control" />
                <span asp-validation-for="productionDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
